AlarmPanel.json
[
    {
        "id": "8488c4ce.382e68",
        "type": "tab",
        "label": "Alarm Panel",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6f283f33.613628",
        "type": "join",
        "z": "8488c4ce.382e68",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "5",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1370,
        "y": 624,
        "wires": [
            [
                "92a5953d.b9f2f8"
            ]
        ]
    },
    {
        "id": "b1e882eb.8ec86",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "815f23e1.e0556",
        "name": "Show Alarm Status Image",
        "order": 1,
        "width": "8",
        "height": "6",
        "format": "<style>\n/* Firefox old*/\n@-moz-keyframes blink {\n    0% { opacity:1;}\n    50% {opacity:0;}\n    100% {opacity:1;}\n} \n\n@-webkit-keyframes blink {\n    0% {opacity:1;}\n    50% {opacity:0;}\n    100% {opacity:1;}\n}\n/* IE */\n@-ms-keyframes blink {\n    0% {opacity:1;}\n    50% {opacity:0;}\n    100% {opacity:1;}\n} \n/* Opera and prob css3 final iteration */\n@keyframes blink {\n    0% {opacity:1;}\n    50% {opacity:0;}\n    100% {opacity:1;}\n} \n.blink-image {\n    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */\n    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */\n    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */\n    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */\n    display: block;\n    margin-left: auto;\n    margin-right: auto;\n    width:250px;\n    vertical-align: middle;\n}\n\n.marginauto {\n    display: block;\n    margin-left: auto;\n    margin-right: auto;\n    width:250px;\n    vertical-align: middle;\n}\n\n</style>\n\n\n<div  ng-click=\"send({payload:'Clicked'});\">\n  \n<div ng-bind-html=\"msg.payload\"></div>\n\n</div>\n\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 1030,
        "y": 139,
        "wires": [
            []
        ]
    },
    {
        "id": "99fd1b83.237438",
        "type": "server-state-changed",
        "z": "8488c4ce.382e68",
        "name": "Alarm Panel",
        "server": "7ef0ac76.c23934",
        "entityidfilter": "alarm_control_panel.house",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 573,
        "y": 279,
        "wires": [
            [
                "525db5ed.09c434",
                "b3c89643.78865",
                "9f9fff32.5e3db"
            ]
        ]
    },
    {
        "id": "6ba3b0dd.bc15a",
        "type": "ui_text",
        "z": "8488c4ce.382e68",
        "group": "815f23e1.e0556",
        "order": 2,
        "width": "8",
        "height": "1",
        "name": "Alarm Status:",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1210,
        "y": 279,
        "wires": []
    },
    {
        "id": "10a23b32.a06b9d",
        "type": "change",
        "z": "8488c4ce.382e68",
        "name": "\"armed home\"",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "armed_home",
                "fromt": "str",
                "to": "Armed Stay",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 199,
        "wires": [
            [
                "6ba3b0dd.bc15a"
            ]
        ]
    },
    {
        "id": "525db5ed.09c434",
        "type": "switch",
        "z": "8488c4ce.382e68",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "armed_home",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "armed_away",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "triggered",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "disarmed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pending",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 790,
        "y": 279,
        "wires": [
            [
                "10a23b32.a06b9d"
            ],
            [
                "accc33b0.f7045"
            ],
            [
                "6c39bdd8.eae124"
            ],
            [
                "b84a091d.f39b1"
            ],
            [
                "6556efbb.d02378"
            ]
        ]
    },
    {
        "id": "accc33b0.f7045",
        "type": "change",
        "z": "8488c4ce.382e68",
        "name": "\"armed away\"",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "armed_away",
                "fromt": "str",
                "to": "Armed Away",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 239,
        "wires": [
            [
                "6ba3b0dd.bc15a"
            ]
        ]
    },
    {
        "id": "6c39bdd8.eae124",
        "type": "change",
        "z": "8488c4ce.382e68",
        "name": "\"triggered\"",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "triggered",
                "fromt": "str",
                "to": "Triggered",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 279,
        "wires": [
            [
                "6ba3b0dd.bc15a"
            ]
        ]
    },
    {
        "id": "b84a091d.f39b1",
        "type": "change",
        "z": "8488c4ce.382e68",
        "name": "\"disarmed\"",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "disarmed",
                "fromt": "str",
                "to": "Disarmed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 319,
        "wires": [
            [
                "6ba3b0dd.bc15a"
            ]
        ]
    },
    {
        "id": "406cac4a.819abc",
        "type": "function",
        "z": "8488c4ce.382e68",
        "name": "Hide Button on State",
        "func": "msgs_home = {}\nif (msg.payload === \"armed_home\") { msgs_home.color = \"white\"; msgs_home.background = \"white\"; msgs_home.enabled = false; }\nelse if (msg.payload === \"armed_away\") { msgs_home.color = \"white\"; msgs_home.background = \"white\"; msgs_home.enabled = false; }\nelse if (msg.payload === \"triggered\") { msgs_home.color = \"white\"; msgs_home.background = \"white\"; msgs_home.enabled = false;  }\nelse if (msg.payload === \"pending\") { msgs_home.color = \"white\"; msgs_home.background = \"white\"; msgs_home.enabled = false; }\nelse if (msg.payload === \"disarmed\") { msgs_home.color = \"\"; msgs_home.background = \"\"; msgs_home.enabled = true; }\nif (msg.locked === \"locked\") { msgs_home.enabled = false; }\n\nmsgs_away = {}\nif (msg.payload === \"armed_home\") { msgs_away.color = \"white\"; msgs_away.background = \"white\"; msgs_away.enabled = false; }\nelse if (msg.payload === \"armed_away\") { msgs_away.color = \"white\"; msgs_away.background = \"white\"; msgs_away.enabled = false; }\nelse if (msg.payload === \"triggered\") { msgs_away.color = \"white\"; msgs_away.background = \"white\"; msgs_away.enabled = false;  }\nelse if (msg.payload === \"pending\") { msgs_home.color = \"white\"; msgs_away.background = \"white\"; msgs_home.enabled = false; }\nelse if (msg.payload === \"disarmed\") { msgs_away.color = \"\"; msgs_away.background = \"\"; msgs_away.enabled = true; }\nif (msg.locked === \"locked\") { msgs_away.enabled = false; }\n\nmsgs_disarmed = {}\nif (msg.payload === \"armed_home\") { msgs_disarmed.color = \"\"; msgs_disarmed.background = \"\"; msgs_disarmed.enabled = true; }\nelse if (msg.payload === \"armed_away\") { msgs_disarmed.color = \"\"; msgs_disarmed.background = \"\"; msgs_disarmed.enabled = true; }\nelse if (msg.payload === \"triggered\") { msgs_disarmed.color = \"\"; msgs_disarmed.background = \"\"; msgs_disarmed.enabled = true; }\nelse if (msg.payload === \"pending\") { msgs_disarmed.color = \"\"; msgs_disarmed.background = \"\"; msgs_disarmed.enabled = true; }\nelse if (msg.payload === \"disarmed\") { msgs_disarmed.color = \"white\"; msgs_disarmed.background = \"white\"; msgs_disarmed.enabled = false; }\nif (msg.locked === \"locked\") { msgs_disarmed.enabled = false; }\n\nmsgs_panel_locked = {}\nif (msg.locked === \"locked\") { msgs_panel_locked.enabled = false; }\nelse if (msg.locked === \"unlocked\") { msgs_panel_locked.enabled = true; }\nelse if (msg.payload === \"armed_home\") { msgs_panel_locked.enabled = true; }\nelse if (msg.payload === \"armed_away\") { msgs_panel_locked.enabled = true; }\nelse if (msg.payload === \"triggered\") { msgs_panel_locked.enabled = true; }\nelse if (msg.payload === \"pending\") { msgs_panel_locked.enabled = true; }\nelse if (msg.payload === \"disarmed\") { msgs_panel_locked.enabled = true; }\n\nreturn [ msgs_home, msgs_away, msgs_disarmed, msgs_panel_locked ];",
        "outputs": 4,
        "noerr": 0,
        "x": 480,
        "y": 680,
        "wires": [
            [
                "aaedd5de.2acb3"
            ],
            [
                "6032f114.fb0ec8"
            ],
            [
                "cf55acd.5a4c35"
            ],
            [
                "7b322026.861608",
                "4d75a773.630648",
                "fb595c9d.114218",
                "bb4c86c8.f8701",
                "ec0570e4.15519",
                "949d2a8e.d810c",
                "3a452f67.1671f8",
                "e84afff7.f96bf",
                "3e3dd1f0.cc604e",
                "50407676.35b3c8",
                "192b6e6d.60bc5a",
                "117e4a77.0773a6",
                "50ff2da6.32afa4"
            ]
        ]
    },
    {
        "id": "f7818028.38ca1",
        "type": "inject",
        "z": "8488c4ce.382e68",
        "name": "Manual Inject",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "15",
        "x": 390,
        "y": 403,
        "wires": [
            [
                "9f9fff32.5e3db"
            ]
        ]
    },
    {
        "id": "9f9fff32.5e3db",
        "type": "api-current-state",
        "z": "8488c4ce.382e68",
        "name": "Alarm State",
        "server": "7ef0ac76.c23934",
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "alarm_control_panel.house",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 575,
        "y": 363,
        "wires": [
            [
                "525db5ed.09c434",
                "406cac4a.819abc",
                "b3c89643.78865"
            ]
        ]
    },
    {
        "id": "92a5953d.b9f2f8",
        "type": "join",
        "z": "8488c4ce.382e68",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "20",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1530,
        "y": 624,
        "wires": [
            [
                "a039235f.0a8ce8"
            ]
        ]
    },
    {
        "id": "7b04dd60.b115d4",
        "type": "mqtt out",
        "z": "8488c4ce.382e68",
        "name": "",
        "topic": "home/alarm/set",
        "qos": "",
        "retain": "",
        "broker": "1c2a2feb.1246b",
        "x": 1940,
        "y": 560,
        "wires": []
    },
    {
        "id": "453b4701.e9d6e8",
        "type": "change",
        "z": "8488c4ce.382e68",
        "name": "Change Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[1]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1749,
        "y": 564,
        "wires": [
            [
                "7b04dd60.b115d4"
            ]
        ]
    },
    {
        "id": "7b322026.861608",
        "type": "switch",
        "z": "8488c4ce.382e68",
        "name": "",
        "property": "enabled",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 1084,
        "wires": [
            [
                "b5c4f1ce.8ad88"
            ],
            [
                "9ad9428a.a60ab8"
            ]
        ]
    },
    {
        "id": "b5c4f1ce.8ad88",
        "type": "change",
        "z": "8488c4ce.382e68",
        "name": "Locked",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "Panel Locked, Please try again later.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 1064,
        "wires": [
            [
                "5137153f.068d0c"
            ]
        ]
    },
    {
        "id": "cf55acd.5a4c35",
        "type": "delay",
        "z": "8488c4ce.382e68",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 770,
        "y": 964,
        "wires": [
            [
                "c8bd030c.ad5a"
            ]
        ]
    },
    {
        "id": "5137153f.068d0c",
        "type": "ui_text",
        "z": "8488c4ce.382e68",
        "group": "815f23e1.e0556",
        "order": 3,
        "width": "8",
        "height": "1",
        "name": "Panel Status",
        "label": "Panel:",
        "format": "{{msg.enabled}}",
        "layout": "row-spread",
        "x": 1030,
        "y": 1104,
        "wires": []
    },
    {
        "id": "a039235f.0a8ce8",
        "type": "function",
        "z": "8488c4ce.382e68",
        "name": "Check Pin Code",
        "func": "// variables\nvar msgs = {};\nvar codes = [];\nvar key_input = msg.payload[0];\nvar msg_error = \"\";\nvar key_check = {};\nvar usercode = [];\n\nlogging = {};\nlogging.payload = {};\n\n// get global variables from config file\nconf_usercount = global.get(\"usercount\");\nconf_codes = global.get(\"codes\");\nconf_name = global.get(\"name\");\nconf_picture = global.get(\"picture\");\ncounter = global.get(\"Counter\") \nmaxretries = global.get(\"MaxRetries\")\n\n\n// timestamp\nvar today = new Date();\nvar timeAsString = today.toLocaleTimeString();\nvar dd = today.getDate();\nvar mm = today.getMonth() + 1; //January is 0!\n\nvar yyyy = today.getFullYear();\nif (dd < 10) {\n  dd = '0' + dd;\n} \nif (mm < 10) {\n  mm = '0' + mm;\n} \nvar today1 = dd + '.' + mm + '.' + yyyy;\n\n// check input code with codes form config file\nkey_check = conf_codes.includes(key_input)\nif (key_check === true) { \n    msg_error = 0;\n    \n    //logging\n    for ( var i = 0; i < conf_codes.length; i++) {\n        if ( conf_codes[i] === key_input ) { usercode = i }\n    }\n    logging.payload.today = today1\n    logging.payload.time = timeAsString;\n    logging.payload.user = conf_name[usercode];\n    logging.payload.state = msg.payload[1]\n    node.send([null,null,logging])\n    \n}\nif (key_check === false){ msg_error = 1;}\nif (key_check === false){ msgs.pin = \"Wrong PIN\";}\n\n// check failed counter or reset to 0    \nif (msg_error === 1 ) {counter += 1; global.set(\"Counter\",counter);}\nif (msg_error === 0 ) {counter = 0; global.set(\"Counter\",counter);}\nmsgs.counter = counter\n\n// initiate lock state\nif ( counter >= maxretries ) { msgs.locked = \"locked\";} \nif ( counter <= maxretries ) { msgs.locked = \"unlocked\";}\n\n \n\n\nif ( msgs.locked === \"locked\") { return [ null, msgs, null, null]; }\nif ( key_check === true ) { return [ msg, null, null, null]; }\nif ( key_check === false ) { return [ null, null, null, msgs]; }\nelse return [ null, null, msgs, null]; \n\n",
        "outputs": 4,
        "noerr": 0,
        "x": 1689,
        "y": 624,
        "wires": [
            [
                "453b4701.e9d6e8"
            ],
            [
                "5e3ae2e8.b145bc",
                "66ab173e.bef97"
            ],
            [
                "ed03ef10.94a508"
            ],
            [
                "f090143b.ab0a6"
            ]
        ]
    },
    {
        "id": "b3c89643.78865",
        "type": "function",
        "z": "8488c4ce.382e68",
        "name": "set state image",
        "func": "imagepath = global.get(\"Imagepath\"); \n\nif (msg.payload === \"armed_home\") { msg.payload = '<img class=\"marginauto\" src=\"' + imagepath + 'armed_home.png\">'; }\nelse if (msg.payload === \"armed_away\") { msg.payload = '<img class=\"marginauto\" src=\"' + imagepath + 'armed_away.png\">'; }\nelse if (msg.payload === \"triggered\") { msg.payload = '<img class=\"blink-image\" src=\"' + imagepath + 'alarm_triggered.png\">';  }\nelse if (msg.payload === \"pending\") { msg.payload = '<img class=\"blink-image\" src=\"' + imagepath + 'pending.png\">'; }\nelse if (msg.payload === \"disarmed\") { msg.payload = '<img class=\"marginauto\" src=\"' + imagepath + 'unarmed.png\">'; }\nelse if (msg.locked === \"locked\") { msg.payload = '<img class=\"marginauto\" src=\"' + imagepath + 'locked_out.png\">'; }\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 139,
        "wires": [
            [
                "b1e882eb.8ec86"
            ]
        ]
    },
    {
        "id": "6556efbb.d02378",
        "type": "change",
        "z": "8488c4ce.382e68",
        "name": "\"pending\"",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "pending",
                "fromt": "str",
                "to": "Setting the Alarm",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 359,
        "wires": [
            [
                "6ba3b0dd.bc15a"
            ]
        ]
    },
    {
        "id": "94edcbc3.c46c98",
        "type": "comment",
        "z": "8488c4ce.382e68",
        "name": "Change this to your alarm_control_panel entity name and server ip => ",
        "info": "",
        "x": 291,
        "y": 235,
        "wires": []
    },
    {
        "id": "11d00c96.10b7d3",
        "type": "comment",
        "z": "8488c4ce.382e68",
        "name": "Change this to your alarm_control_panel entity name => ",
        "info": "",
        "x": 240,
        "y": 360,
        "wires": []
    },
    {
        "id": "9ad9428a.a60ab8",
        "type": "change",
        "z": "8488c4ce.382e68",
        "name": "Active",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "Connected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1104,
        "wires": [
            [
                "5137153f.068d0c"
            ]
        ]
    },
    {
        "id": "4d75a773.630648",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "7e298e0d.985158",
        "name": "1",
        "order": 1,
        "width": "2",
        "height": "2",
        "format": "\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '1'})\"> \n    1\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 950,
        "y": 444,
        "wires": [
            [
                "6f283f33.613628"
            ]
        ]
    },
    {
        "id": "fb595c9d.114218",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "7e298e0d.985158",
        "name": "2",
        "order": 2,
        "width": "2",
        "height": "2",
        "format": "\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '2'})\"> \n    2\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 950,
        "y": 484,
        "wires": [
            [
                "6f283f33.613628"
            ]
        ]
    },
    {
        "id": "bb4c86c8.f8701",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "7e298e0d.985158",
        "name": "3",
        "order": 3,
        "width": "2",
        "height": "2",
        "format": "\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '3'})\"> \n    3\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 950,
        "y": 524,
        "wires": [
            [
                "6f283f33.613628"
            ]
        ]
    },
    {
        "id": "ec0570e4.15519",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "7e298e0d.985158",
        "name": "4",
        "order": 5,
        "width": "2",
        "height": "2",
        "format": "\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '4'})\"> \n    4\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 950,
        "y": 564,
        "wires": [
            [
                "6f283f33.613628"
            ]
        ]
    },
    {
        "id": "949d2a8e.d810c",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "7e298e0d.985158",
        "name": "5",
        "order": 6,
        "width": "2",
        "height": "2",
        "format": "\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '5'})\"> \n    5\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 950,
        "y": 604,
        "wires": [
            [
                "6f283f33.613628"
            ]
        ]
    },
    {
        "id": "3a452f67.1671f8",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "7e298e0d.985158",
        "name": "6",
        "order": 7,
        "width": "2",
        "height": "2",
        "format": "\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '6'})\"> \n    6\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 950,
        "y": 644,
        "wires": [
            [
                "6f283f33.613628"
            ]
        ]
    },
    {
        "id": "e84afff7.f96bf",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "7e298e0d.985158",
        "name": "7",
        "order": 9,
        "width": "2",
        "height": "2",
        "format": "\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '7'})\"> \n    7\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 950,
        "y": 684,
        "wires": [
            [
                "6f283f33.613628"
            ]
        ]
    },
    {
        "id": "3e3dd1f0.cc604e",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "7e298e0d.985158",
        "name": "8",
        "order": 10,
        "width": "2",
        "height": "2",
        "format": "\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '8'})\"> \n    8\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 950,
        "y": 724,
        "wires": [
            [
                "6f283f33.613628"
            ]
        ]
    },
    {
        "id": "50407676.35b3c8",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "7e298e0d.985158",
        "name": "9",
        "order": 11,
        "width": "2",
        "height": "2",
        "format": "\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '9'})\"> \n    9\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 950,
        "y": 764,
        "wires": [
            [
                "6f283f33.613628"
            ]
        ]
    },
    {
        "id": "192b6e6d.60bc5a",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "7e298e0d.985158",
        "name": "*",
        "order": 13,
        "width": "2",
        "height": "2",
        "format": "\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '*'})\"> \n    *\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 950,
        "y": 804,
        "wires": [
            [
                "6f283f33.613628"
            ]
        ]
    },
    {
        "id": "117e4a77.0773a6",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "7e298e0d.985158",
        "name": "0",
        "order": 14,
        "width": "2",
        "height": "2",
        "format": "\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '0'})\"> \n    0\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 950,
        "y": 844,
        "wires": [
            [
                "6f283f33.613628"
            ]
        ]
    },
    {
        "id": "aaedd5de.2acb3",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "7e298e0d.985158",
        "name": "Home",
        "order": 4,
        "width": "2",
        "height": "2",
        "format": "\n<md-button class=\"vibrate filled touched littlefont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'ARM_HOME'})\"> \n    Arm Stay\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 950,
        "y": 884,
        "wires": [
            [
                "65173114.eb6978",
                "3d3b375.cd8cdc8"
            ]
        ]
    },
    {
        "id": "6032f114.fb0ec8",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "7e298e0d.985158",
        "name": "Away",
        "order": 8,
        "width": "2",
        "height": "2",
        "format": "\n<md-button class=\"vibrate filled touched littlefont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'ARM_AWAY'})\"> \n    Arm Away\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 950,
        "y": 924,
        "wires": [
            [
                "65173114.eb6978",
                "3d3b375.cd8cdc8"
            ]
        ]
    },
    {
        "id": "c8bd030c.ad5a",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "7e298e0d.985158",
        "name": "DISARM",
        "order": 12,
        "width": "2",
        "height": "2",
        "format": "\n<md-button class=\"vibrate filled touched littlefont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'DISARM'})\"> \n    Disarm\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 960,
        "y": 964,
        "wires": [
            [
                "65173114.eb6978",
                "3d3b375.cd8cdc8"
            ]
        ]
    },
    {
        "id": "50ff2da6.32afa4",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "7e298e0d.985158",
        "name": "C",
        "order": 15,
        "width": "2",
        "height": "2",
        "format": "\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'Clear'})\"> \n    C\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 950,
        "y": 1004,
        "wires": [
            [
                "65173114.eb6978",
                "3d3b375.cd8cdc8"
            ]
        ]
    },
    {
        "id": "65173114.eb6978",
        "type": "function",
        "z": "8488c4ce.382e68",
        "name": "Message Complete",
        "func": "msg.payload=\"\";\nmsg.complete=true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1230,
        "y": 904,
        "wires": [
            [
                "6f283f33.613628"
            ]
        ]
    },
    {
        "id": "3d3b375.cd8cdc8",
        "type": "delay",
        "z": "8488c4ce.382e68",
        "name": "500ms",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1190,
        "y": 824,
        "wires": [
            [
                "92a5953d.b9f2f8"
            ]
        ]
    },
    {
        "id": "1876ce8d.0ba4e9",
        "type": "yaml",
        "z": "8488c4ce.382e68",
        "property": "payload",
        "name": "",
        "x": 537,
        "y": 24,
        "wires": [
            [
                "86296b0a.c81858"
            ]
        ]
    },
    {
        "id": "acd376af.62eb68",
        "type": "inject",
        "z": "8488c4ce.382e68",
        "name": "Startup",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 216,
        "y": 24,
        "wires": [
            [
                "d8567e9b.b7dca"
            ]
        ]
    },
    {
        "id": "d8567e9b.b7dca",
        "type": "file in",
        "z": "8488c4ce.382e68",
        "name": "",
        "filename": "/config/alarm.yaml",
        "format": "utf8",
        "sendError": true,
        "x": 381,
        "y": 24,
        "wires": [
            [
                "1876ce8d.0ba4e9"
            ]
        ]
    },
    {
        "id": "86296b0a.c81858",
        "type": "function",
        "z": "8488c4ce.382e68",
        "name": "get settings from yaml",
        "func": "\n// reset global variables\nglobal.set(\"usercount\",\"\")\nglobal.set(\"codes\",\"\")\nglobal.set(\"name\",\"\")\nglobal.set(\"picture\",\"\")\nglobal.set(\"LockTime\",\"\") \nglobal.set(\"MaxRetries\",\"\")\n\nvar msgs = [];\nvar codes = [];\nvar name = [];\nvar picture = [];\nvar lockout = msg.payload.passcode_attempts_timeout;\nvar pass_attempts = msg.payload.passcode_attempts\nvar count = 0;\nfor (var i = 0; i< msg.payload.users.length; i++) {\n  if ( msg.payload.users[i].enabled === true) {\n    codes.push(msg.payload.users[i].code);\n    name.push(msg.payload.users[i].name);\n    picture.push(msg.payload.users[i].picture);\n    count +=1\n  }\n}\nglobal.set(\"usercount\",count)\nglobal.set(\"codes\",codes)\nglobal.set(\"name\",name)\nglobal.set(\"picture\",picture)\nglobal.set(\"LockTime\",lockout) \nglobal.set(\"MaxRetries\",pass_attempts)\nmsgs.push({payload: codes});\nreturn [msgs]\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 704,
        "y": 24,
        "wires": [
            [
                "30645b60.796844"
            ]
        ]
    },
    {
        "id": "5b7038b4.cc4bc",
        "type": "function",
        "z": "8488c4ce.382e68",
        "name": "Unlock",
        "func": "if ( msg.payload === \"unlocked\" ) {counter = 0; global.set(\"Counter\",counter);}\nif ( msg.payload === \"unlocked\" ) { \n    msg.counter = \"\";\n    msg.locked  = \"\";\n    msg.payload = \"\";\n    return msg; }\nif ( msg.payload !== \"unlocked\" ) { return null; }\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1919,
        "y": 704,
        "wires": [
            [
                "27be1b4e.d3d89c"
            ]
        ]
    },
    {
        "id": "5e3ae2e8.b145bc",
        "type": "function",
        "z": "8488c4ce.382e68",
        "name": "Countdown",
        "func": "var countdown = global.get(\"LockTime\"); \n\n(function myLoop (i) {          \n   setTimeout(function () {   \n          msg.enabled = \"Panel Locked for: \" + i + \" Seconds\"\n          node.send(msg)\n      if (--i) myLoop(i);\n      \n      if ( i === 0) {\n            msg.payload = \"unlocked\"\n            node.send(msg)          \n      }\n      \n   }, 1000)\n})(countdown); \n\n \n",
        "outputs": 1,
        "noerr": 0,
        "x": 1879,
        "y": 664,
        "wires": [
            [
                "5b7038b4.cc4bc",
                "300916c2.f885d2"
            ]
        ]
    },
    {
        "id": "66ab173e.bef97",
        "type": "link out",
        "z": "8488c4ce.382e68",
        "name": "",
        "links": [
            "83753d86.ce6dc",
            "7e237624.af0718"
        ],
        "x": 1864,
        "y": 623,
        "wires": []
    },
    {
        "id": "83753d86.ce6dc",
        "type": "link in",
        "z": "8488c4ce.382e68",
        "name": "locked",
        "links": [
            "44f69b00.bf9854",
            "66ab173e.bef97"
        ],
        "x": 315,
        "y": 679,
        "wires": [
            [
                "406cac4a.819abc"
            ]
        ]
    },
    {
        "id": "7e237624.af0718",
        "type": "link in",
        "z": "8488c4ce.382e68",
        "name": "reinject image",
        "links": [
            "66ab173e.bef97",
            "44f69b00.bf9854"
        ],
        "x": 675,
        "y": 139,
        "wires": [
            [
                "b3c89643.78865"
            ]
        ]
    },
    {
        "id": "3d428aa4.4d652e",
        "type": "link in",
        "z": "8488c4ce.382e68",
        "name": "Panel Status",
        "links": [
            "300916c2.f885d2"
        ],
        "x": 895,
        "y": 1160,
        "wires": [
            [
                "5137153f.068d0c"
            ]
        ]
    },
    {
        "id": "300916c2.f885d2",
        "type": "link out",
        "z": "8488c4ce.382e68",
        "name": "",
        "links": [
            "3d428aa4.4d652e"
        ],
        "x": 2008,
        "y": 665,
        "wires": []
    },
    {
        "id": "427890f2.05b14",
        "type": "function",
        "z": "8488c4ce.382e68",
        "name": "Global Settings",
        "func": "\n\n// Global Settings\nglobal.set(\"Counter\",0) \nglobal.set(\"Imagepath\",\"http://192.168.32.203:8123/local/images/\")\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 393,
        "y": 68,
        "wires": [
            []
        ]
    },
    {
        "id": "b144abdf.afd428",
        "type": "inject",
        "z": "8488c4ce.382e68",
        "name": "Startup",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "4",
        "x": 213,
        "y": 68,
        "wires": [
            [
                "427890f2.05b14"
            ]
        ]
    },
    {
        "id": "27be1b4e.d3d89c",
        "type": "api-current-state",
        "z": "8488c4ce.382e68",
        "name": "Alarm State",
        "server": "7ef0ac76.c23934",
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "entity_id": "alarm_control_panel.house",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1959,
        "y": 744,
        "wires": [
            [
                "44f69b00.bf9854"
            ]
        ]
    },
    {
        "id": "44f69b00.bf9854",
        "type": "link out",
        "z": "8488c4ce.382e68",
        "name": "",
        "links": [
            "83753d86.ce6dc",
            "7e237624.af0718"
        ],
        "x": 2064,
        "y": 744,
        "wires": []
    },
    {
        "id": "f5456965.02322",
        "type": "comment",
        "z": "8488c4ce.382e68",
        "name": "Change this to your alarm_control_panel entity name => ",
        "info": "",
        "x": 1639,
        "y": 748,
        "wires": []
    },
    {
        "id": "30645b60.796844",
        "type": "debug",
        "z": "8488c4ce.382e68",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 898,
        "y": 50,
        "wires": []
    },
    {
        "id": "ed03ef10.94a508",
        "type": "yaml",
        "z": "8488c4ce.382e68",
        "property": "payload",
        "name": "",
        "x": 1850,
        "y": 848,
        "wires": [
            [
                "ef293074.0e18a8"
            ]
        ]
    },
    {
        "id": "ef293074.0e18a8",
        "type": "file",
        "z": "8488c4ce.382e68",
        "name": "",
        "filename": "/config/alarm_logging.yaml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 2030,
        "y": 848,
        "wires": [
            []
        ]
    },
    {
        "id": "653900b1.3ea958",
        "type": "comment",
        "z": "8488c4ce.382e68",
        "name": "Global UI Settings",
        "info": "",
        "x": 1620,
        "y": 64,
        "wires": []
    },
    {
        "id": "2f25c394.f7102c",
        "type": "comment",
        "z": "8488c4ce.382e68",
        "name": "Logging to file",
        "info": "",
        "x": 1860,
        "y": 809,
        "wires": []
    },
    {
        "id": "11c16238.be60e6",
        "type": "comment",
        "z": "8488c4ce.382e68",
        "name": "<== Change the MQTT details to match Hassio",
        "info": "",
        "x": 2210,
        "y": 562,
        "wires": []
    },
    {
        "id": "b084de46.3780c",
        "type": "comment",
        "z": "8488c4ce.382e68",
        "name": "<== Change path to your hassio address ",
        "info": "",
        "x": 661,
        "y": 73,
        "wires": []
    },
    {
        "id": "abf5a12f.ccfbf8",
        "type": "ui_ui_control",
        "z": "8488c4ce.382e68",
        "name": "",
        "x": 780,
        "y": 1257,
        "wires": [
            []
        ]
    },
    {
        "id": "22187497.d05604",
        "type": "file in",
        "z": "8488c4ce.382e68",
        "name": "",
        "filename": "/config/alarm_logging.json",
        "format": "lines",
        "sendError": true,
        "x": 600,
        "y": 1297,
        "wires": [
            [
                "1f405732.7458b1"
            ]
        ]
    },
    {
        "id": "1f405732.7458b1",
        "type": "json",
        "z": "8488c4ce.382e68",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 790,
        "y": 1297,
        "wires": [
            [
                "ca47d8da.1d4d58"
            ]
        ]
    },
    {
        "id": "ca47d8da.1d4d58",
        "type": "join",
        "z": "8488c4ce.382e68",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 910,
        "y": 1297,
        "wires": [
            [
                "3bd9d5f3.9bf422"
            ]
        ]
    },
    {
        "id": "25921260.8c0e1e",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "14e2f2a4.cfdb25",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\ntable {\n  width: 100%;\n}\n\nth {\n  background-color: #2980B9;\n  color: white;\n  height: 50px;\n}\n\ntr {\n  height: 40px;\n}\n\ntr:nth-child(even) {background-color: #f2f2f2;}\n\n</style>\n<table id=\"table\" border=\"0\">\n        <tr>\n            <th>Date</th>\n            <th>Time</th>\n            <th>User</th>\n            <th>State</th>\n        </tr>\n<tbody>\n\n<tr ng-repeat=\"row in msg.payload\">\n    <td ng-repeat=\"item in row\" >{{item}}</td>\n</tr>\n</tbody>\n</table>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1180,
        "y": 1297,
        "wires": [
            []
        ]
    },
    {
        "id": "c9b1c324.1368e",
        "type": "delay",
        "z": "8488c4ce.382e68",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 580,
        "y": 1257,
        "wires": [
            [
                "abf5a12f.ccfbf8"
            ]
        ]
    },
    {
        "id": "f4a8fa95.1dbfd",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "815f23e1.e0556",
        "name": "KeyPad",
        "order": 6,
        "width": "2",
        "height": "1",
        "format": "\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'KeyPad'})\"> \n    KeyPad\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 340,
        "y": 1177,
        "wires": [
            [
                "30b3e68f.758672"
            ]
        ]
    },
    {
        "id": "d1103bb7.2a88a",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "815f23e1.e0556",
        "name": "Log",
        "order": 7,
        "width": "2",
        "height": "1",
        "format": "\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'Log'})\"> \n    Log\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 330,
        "y": 1217,
        "wires": [
            [
                "30b3e68f.758672",
                "22187497.d05604"
            ]
        ]
    },
    {
        "id": "30b3e68f.758672",
        "type": "function",
        "z": "8488c4ce.382e68",
        "name": "",
        "func": "if ( msg.payload === \"KeyPad\" )\n        msg.payload = {\n           \"group\": \n              { \n                 \"hide\": [\"Alarm_Panel_Log\"],\n                 \"show\": [\"Alarm_Panel_Alarm_Panel\"],\n                 \"focus\": true\n                }\n        }\n\nif ( msg.payload === \"Log\" )\n        msg.payload = {\n           \"group\": \n              { \n                 \"hide\": [\"Alarm_Panel_Alarm_Panel\"],\n                 \"show\": [\"Alarm_Panel_Log\"],\n                 \"focus\": true\n                }\n        }\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 1217,
        "wires": [
            [
                "c9b1c324.1368e"
            ]
        ]
    },
    {
        "id": "44895d21.b3c45c",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "815f23e1.e0556",
        "name": "Placeholder left",
        "order": 5,
        "width": "2",
        "height": "1",
        "format": "\n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 360,
        "y": 1137,
        "wires": [
            []
        ]
    },
    {
        "id": "4e727509.c37d54",
        "type": "inject",
        "z": "8488c4ce.382e68",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "x": 190,
        "y": 1297,
        "wires": [
            [
                "22187497.d05604"
            ]
        ]
    },
    {
        "id": "7b318be6.94ed8c",
        "type": "inject",
        "z": "8488c4ce.382e68",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 190,
        "y": 1177,
        "wires": [
            [
                "f4a8fa95.1dbfd"
            ]
        ]
    },
    {
        "id": "bb186d2b.3983a",
        "type": "comment",
        "z": "8488c4ce.382e68",
        "name": "KeyPad / Log Buttons UI",
        "info": "",
        "x": 200,
        "y": 1060,
        "wires": []
    },
    {
        "id": "3bd9d5f3.9bf422",
        "type": "function",
        "z": "8488c4ce.382e68",
        "name": "",
        "func": "arr = msg.payload\nlogs = arr.slice(Math.max(arr.length - 10, 1)) \n\n    for ( var i = 0; i < logs.length; i++) {\n        if ( logs[i][3] === \"DISARM\" ) { logs[i][3] = \"Deaktiviert\" }\n        if ( logs[i][3] === \"ARM_HOME\" ) { logs[i][3] = \"Zu Hause\" }\n        if ( logs[i][3] === \"ARM_AWAY\" ) { logs[i][3] = \"Unterwegs\" }\n    }\n\nmsg.payload = logs\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 1297,
        "wires": [
            [
                "25921260.8c0e1e"
            ]
        ]
    },
    {
        "id": "c0a7132a.14b3b",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "7e298e0d.985158",
        "name": "UI Stuff Alarm Panel",
        "order": 16,
        "width": "0",
        "height": "0",
        "format": "<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 20px 20px 20px 20px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 14px;\n}\n\n   .littlefont {\n  font-size: 10px;\n}\n\n  #masonry-container {\n      background: white;\n  }\n  \n  }\n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"#33ccff\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1630,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "54d3e25d.efc364",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "643faa2e.065374",
        "name": "Clock Toolbar",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "global",
        "x": 1620,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "6f28e3f4.06674c",
        "type": "ui_template",
        "z": "8488c4ce.382e68",
        "group": "815f23e1.e0556",
        "name": "UI Stuff Alarm Panel Left",
        "order": 8,
        "width": "0",
        "height": "0",
        "format": "<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 20px 20px 20px 20px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 14px;\n}\n\n   .littlefont {\n  font-size: 10px;\n}\n\n  #masonry-container {\n      background: white;\n  }\n  \n  }\n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"#33ccff\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1650,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "1c07ab57.a10075",
        "type": "link in",
        "z": "8488c4ce.382e68",
        "name": "reinject state",
        "links": [
            "6bb276e9.e041b"
        ],
        "x": 455,
        "y": 460,
        "wires": [
            [
                "9f9fff32.5e3db"
            ]
        ]
    },
    {
        "id": "2c1c6e2d.133712",
        "type": "link in",
        "z": "8488c4ce.382e68",
        "name": "wrong pin",
        "links": [
            "f090143b.ab0a6"
        ],
        "x": 855,
        "y": 400,
        "wires": [
            [
                "92089a5.95bf9e8"
            ]
        ]
    },
    {
        "id": "92089a5.95bf9e8",
        "type": "change",
        "z": "8488c4ce.382e68",
        "name": "\"pin\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Incorrect PIN",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 400,
        "wires": [
            [
                "c8bd9775.8f4858",
                "6ba3b0dd.bc15a"
            ]
        ]
    },
    {
        "id": "c8bd9775.8f4858",
        "type": "delay",
        "z": "8488c4ce.382e68",
        "name": "",
        "pauseType": "delay",
        "timeout": "8",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1120,
        "y": 400,
        "wires": [
            [
                "6bb276e9.e041b"
            ]
        ]
    },
    {
        "id": "6bb276e9.e041b",
        "type": "link out",
        "z": "8488c4ce.382e68",
        "name": "reinject state",
        "links": [
            "1c07ab57.a10075"
        ],
        "x": 1235,
        "y": 400,
        "wires": []
    },
    {
        "id": "f090143b.ab0a6",
        "type": "link out",
        "z": "8488c4ce.382e68",
        "name": "wrong pin",
        "links": [
            "2c1c6e2d.133712"
        ],
        "x": 1735,
        "y": 680,
        "wires": []
    },
    {
        "id": "815f23e1.e0556",
        "type": "ui_group",
        "z": "",
        "name": "Alarm Panel Left",
        "tab": "dcfa25c2.2fb9a8",
        "order": 2,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "7ef0ac76.c23934",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false
    },
    {
        "id": "1c2a2feb.1246b",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.32.203",
        "port": "1883",
        "clientid": "node-red",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "nr-da",
        "birthQos": "0",
        "birthPayload": "on",
        "closeTopic": "nr-weg",
        "closeQos": "0",
        "closePayload": "off",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7e298e0d.985158",
        "type": "ui_group",
        "z": "",
        "name": "Alarm Panel",
        "tab": "dcfa25c2.2fb9a8",
        "order": 3,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "14e2f2a4.cfdb25",
        "type": "ui_group",
        "z": "",
        "name": "Log",
        "tab": "dcfa25c2.2fb9a8",
        "order": 4,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "643faa2e.065374",
        "type": "ui_group",
        "z": "",
        "name": "hidden_group",
        "tab": "dcfa25c2.2fb9a8",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dcfa25c2.2fb9a8",
        "type": "ui_tab",
        "z": "",
        "name": "Alarm Panel",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
